.container{
    max-width: 1104px;
    min-height: 800px;
    /* background-color: darkmagenta; */
    padding: 0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    border: 2px solid black;
}
header{
    /* background-color: aqua; */
    border-bottom: 5px solid black;
    background-color: lightgrey;
    width:1100px;
    height: 60px;
    display: block;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header_name {
    color:blue;
    display: inline-block;
    margin: 0px 50px 0px 0px;
}
header>h1{
    display: inline-block;
    margin:0px 220px 0px 10px;
}
header>a{
    margin:0px 0px 0px 0px;
    vertical-align: bottom;
}


.post_msg {
    margin: 10px 0px 10px 40px;
}

.msg_submit{
    margin: 15px 900px 0px;
}

.send_box{
    width:990px;
    height:200px;
    display: block;
    margin: 0px auto;
}
.content{
    width:1100px;
    min-height: 170px;
    /* background-color: darkslategrey; */
    margin:20px auto; 
    padding:.1px 0px .1px 0px;

}
.messages{
    width:990px;
    min-height: 10px;
    /* background-color: hotpink; */
    margin:10px auto;
    padding: 10px;

}

.msg_txt{
    margin:0px 0px;
    min-height: 10px;
    /* background-color: blue; */
}

.comment{
    width:890px;
    min-height: 10px;
    /* background-color: hotpink; */
    margin:0px 0px 10px 155px;
    padding: 10px;    
}
.cmnt_user_h4{
    font-size: 24px;
    font-weight: 500;
}

.cmnt_h4{
    font-size: 30px;
    font-weight: 500;
}

.post_cmnt{
    width:865px;
    height:100px;
    display: inline-block;
    margin: 5px 0px 0px 0px;
    min-height: 100px;
}
.cmnt_txt{
    margin:0px 0px 0px 0px;
    min-height: 10px;
}
.cmnt_btn{
    margin: 10px 0px 0px 730px;
}

.delete_message{
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 0px 0px 0px 570px;
}

#lblName{
    margin: 0px 10px 10px 56px;
}

.msgName{
    display: inline-block;
}